# Auto detect text files and perform LF normalization
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.bat eol=crlf

# These files should have specific line endings
*.sh	text eol=lf
*.bat	text eol=crlf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.jpeg	binary

# Files and directories with the attribute export-ignore won’t be added to archive files.
/.github export-ignore
CHANGELOG.md export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
